<html>
<head>
    <meta charset="utf-8" />
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/iconfont/style.css" type="text/css" />

    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>
    <div id = "genwrapper-mainpage">
        <section id="sect-mainpage">
            <h1 id="sitetitle-mainpage"> {{site_title}} </h1>
            <div id="general-sitesections-mainpage"> 
                <div id="r-sitesections-mainpage"> 
                    <div class="itm-sitesections-mainpage"> 
                        <div class="pyctogram-itm-sitesections-mainpage">
                            <a href="/?projects"> <span class="icon-Controls"> </span> </a>
                        </div>    
                        <div class="caption-itm-sitesections-mainpage">
                            <a href="/?projects">Projects</a>
                        </div>
                    </div>
                    <div class="itm-sitesections-mainpage"> 
                        <div class="pyctogram-itm-sitesections-mainpage">
                            <a href="/?notes"> <span class="icon-CommentwithLines"> </span> </a>
                        </div>    
                        <div class="caption-itm-sitesections-mainpage">
                            <a href="/?notes">Notes</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    </div>    
</body>
</html>